<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hut.aiassistant.generator.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="edu.hut.aiassistant.generator.domain.User">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="role" column="role" jdbcType="INTEGER"/>
            <result property="educateStage" column="educate_stage" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="licenseType" column="license_type" jdbcType="VARCHAR"/>
            <result property="licenseNumber" column="license_number" jdbcType="VARCHAR"/>
            <result property="school" column="school" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,mobile,password,
        create_time,update_time,role,
        educate_stage,nickname,real_name,
        license_type,license_number,school
    </sql>
</mapper>
